.header {
  width: 100%;
  height: 88vh;
  padding: 50px;
  background: url("../../../assets/home\ .jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  align-content: center;
}
.typography {
  margin: auto !important;
  font-weight: 600 !important;
  text-shadow: 1px 1px 12px white;
  width: 400px;
  padding: 5px;
}
.linkp {
  display: flex;
  align-items: center;
  border-radius: 5px;
  max-width: 300px;
  padding: 5px;
  margin: 40px 0;
  opacity: 0.9 !important;
}

@media (max-width: 768px) {
  .header {
    height: 60vh;
    align-items: stretch;
  }
  .typography {
    font-size: 16px;
    font-weight: 800;
    width: 300px;
  }
}
